:root{
    --vermelho: #E50914;
    --preto: #141414;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .mycontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header nav a:hover{
    color: #AAA;
}

/*serie principal*/
.game-principal{
    font-size: 16px;

    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa.jpeg');
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.game-principal .descricao{
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.game-principal .titulo{
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 16px;

    cursor: pointer;
    transition: .3s ease all;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.margin , .rodape{
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.mycontainer {
    margin-left: 20px;
}

.game-principal .mycontainer{
    width: 50%;
}

.box-serie{
    height: 100%;
    width: 100%;
    max-height: 352px;
    max-width: 264px;
    display: block;
}

.carrosel-series{
    margin-top: 10px;
}

.rodape{
    margin-top: 30px;
    font-size: 18px;
}

.modal-content{
    background-color: var(--preto);
}

.informacao_titulo{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 30px;
    color: #fff;
}

.informacao, .btn-secondary{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #fff;
}